[build]
base = "apps/web"
publish = "public"
command = "echo 'static deploy'"

[[headers]]
for = "/*"
[headers.values]
Cache-Control = "no-cache, no-store, must-revalidate"

[[redirects]]
from = "/_next/*"
to = "/index.html"
status = 200
force = true

[[redirects]]
from = "/*"
to = "/index.html"
status = 200
